/* line 4, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
html {
	height: 100%;
}

/* line 7, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
body {
	height: 100%;
	background: #CC0000 none repeat scroll 0 0;
	color: #000000;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12pt;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

/* line 17, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
h1, h2, h3 {
	margin: 0;
	padding: 0;
}

/* line 21, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
p, ol, ul {
	margin-top: 0;
}

/* line 24, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ol, ul {
	list-style: outside none none;
	padding: 0;
}

/* line 28, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
p {
	line-height: 180%;
}

/* line 31, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
a {
	color: #CC0000;
}
/* line 33, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
a:hover {
	text-decoration: none;
}

/* line 36, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.container {
	margin: 0 auto;
	overflow: hidden;
	width: 1000px;
}

.header_container {
	padding-top: 50px;
}

/* line 41, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image {
	display: inline-block;
}
/* line 43, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image img {
	display: block;
	width: 100%;
}

/* line 47, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image-full {
	display: block;
	margin: 0 0 2em;
	width: 100%;
}

/* line 52, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image-left {
	float: left;
	margin: 0 2em 2em 0;
}

/* line 56, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image-centered {
	display: block;
	margin: 0 0 2em;
}
/* line 59, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.image-centered img {
	margin: 0 auto;
	width: auto;
}

/* line 65, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact {
	list-style: outside none none;
	margin: 0;
	padding: 2em 0 0;
}
/* line 69, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li {
	display: inline-block;
	font-size: 1em;
	padding: 0 0.3em;
}
/* line 73, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li span {
	display: none;
	margin: 0;
	padding: 0;
}
/* line 77, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a {
	color: #fff;
}
/* line 79, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a::before {
	background: #3f3f3f none repeat scroll 0 0;
	border-radius: 20px;
	color: #ffffff;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
}
/* line 88, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a.icon-twitter::before {
	background: #2daae4 none repeat scroll 0 0;
}
/* line 90, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a.icon-facebook::before {
	background: #39599f none repeat scroll 0 0;
}
/* line 92, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a.icon-dribbble::before {
	background: #c4376b none repeat scroll 0 0;
}
/* line 94, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a.icon-tumblr::before {
	background: #31516a none repeat scroll 0 0;
}
/* line 96, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.contact li a.icon-rss::before {
	background: #f2600b none repeat scroll 0 0;
}

/* line 99, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.button {
	color: #fff;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 400;
	letter-spacing: 0.2em;
	padding: 1em 3em 1em 2em;
	text-decoration: none;
	text-transform: uppercase;
}
/* line 108, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.button::before {
	background: #ffc31f none repeat scroll 0 0;
	border-radius: 20px;
	color: #272925;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	margin-right: 1em;
	text-align: center;
	width: 40px;
}

/* line 119, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.box1, .box2, .box3 {
	width: 235px;
}

/* line 122, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.box4 {
	width: 235px;
	float: right;
}

/* line 126, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.boxA, .boxB, .boxC {
	width: 300px;
}

/* line 129, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.boxA, .boxB {
	float: left;
	margin-right: 50px;
}

/* line 133, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.boxC {
	float: right;
}

/* line 136, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.tbox1, .tbox2 {
	width: 575px;
}

/* line 139, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.tbox1 {
	float: left;
}

/* line 142, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.tbox2 {
	float: right;
}

/* line 145, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#wrapper {
	background: #fff none repeat scroll 0 0;
}

/* line 148, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#header-wrapper {
	background: rgba(0, 0, 0, 0)
		url("/books/javax.faces.resource/images/banner.jpg.jsf") no-repeat
		scroll center center/cover;
	border-top: 10px solid #CC0000;
	color: white;
}

/* line 152, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#header {
	padding: 5em 0;
	position: relative;
}

.header_small {
	padding-bottom: 30px !important;
}

/* line 157, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#logo h1 {
	background: #CC0000 none repeat scroll 0 0;
	border-radius: 0 0 5px 5px;
	left: 0;
	padding: 1em;
	position: absolute;
	top: 0;
}
/* line 164, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#logo a {
	color: #fff;
	text-decoration: none;
}

/* line 168, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu {
	position: absolute;
	right: 0;
	top: 4em;
}
/* line 172, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu ul {
	display: inline-block;
}
/* line 174, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu li {
	display: block;
	float: left;
	text-align: center;
}
/* line 178, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu li a, #menu li span {
	color: #fff;
	font-size: 0.9em;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0.9em;
	text-decoration: none;
	text-transform: uppercase;
}
/* line 186, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu li:hover a {
	background: #CC0000 none repeat scroll 0 0;
	border-radius: 5px;
}
/* line 190, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#menu li.active a, #menu li.active span {
	background: #CC0000 none repeat scroll 0 0;
	border-radius: 5px;
}

/* line 195, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#banner {
	padding: 10em 0;
}

/* line 197, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#banner span {
	color: #fff;
	display: block;
	font-size: 2.5em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

/* line 205, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#page {
	padding-bottom: 5em;
}
/* line 207, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#page h2 {
	font-size: 1.5em;
	padding-bottom: 1.5em;
	text-transform: uppercase;
}

/* line 214, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#copyright {
	overflow: hidden;
	padding: 5em 0;
}
/* line 217, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#copyright p {
	color: rgba(255, 255, 255, 0.6);
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
}
/* line 223, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#copyright a {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

/* line 227, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.title {
	margin-bottom: 3em;
	text-transform: uppercase;
}
/* line 230, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.title h2 {
	font-size: 2.8em;
	font-weight: 700;
}
/* line 233, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.title .byline {
	color: #6f6f6f;
	font-size: 1.1em;
}

/* line 237, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#staff {
	padding: 5em 0;
	text-align: center;
}

/* line 241, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#welcome {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5em 0;
	text-align: center;
}

/* line 247, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 {
	color: #6c6c6c;
	list-style: outside none none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
/* line 253, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 li {
	margin: 0 0 1em;
	padding: 1.6em 0 0;
}
/* line 256, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 p {
	margin: 0;
}
/* line 258, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 a {
	color: #2d2d2d;
	display: block;
	text-decoration: none;
}
/* line 262, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 a:hover {
	text-decoration: underline;
}
/* line 264, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 h3 {
	font-size: 1em;
	font-weight: 300;
	padding: 1em 0 5px;
	text-transform: uppercase;
}
/* line 269, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .first {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding-top: 0;
}
/* line 272, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .date {
	background: #262626 none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
	color: #fff;
	float: left;
	font-size: 1em;
	font-weight: 400;
	height: 70px;
	line-height: normal;
	margin: 0.5em 1.5em 0 0.5em;
	padding: 20px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	width: 80px;
}
/* line 289, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .date::after {
	border-radius: 6px;
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
/* line 298, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .date b {
	color: #ffffff;
	display: block;
	font-size: 1.8em;
	font-weight: 700;
	margin: -5px 0 0;
	padding: 0;
}
/* line 305, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .date a {
	color: #ffffff !important;
}
/* line 307, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style3 .date a:hover {
	text-decoration: none;
}
/* line 309, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style4 {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
/* line 313, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style4 li {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	line-height: 3em;
}
/* line 316, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style4 a {
	color: #2d2d2d;
}
/* line 318, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
ul.style4 .first {
	border-top: medium none;
	padding-top: 0;
}

/* line 324, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.mpTypeButton {
	background-color: #CC0000;
	border-radius: 20px;
	color: white;
	height: 200px;
	width: 300px;
}

/* line 331, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.clear {
	clear: both;
}

/* line 334, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.mpTypeButtonText {
	line-height: 200px;
}

/* line 337, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#login {
	position: absolute;
	right: 0;
	top: 1em;
}
/* line 341, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#login ul {
	display: inline-block;
}
/* line 343, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#login li {
	display: block;
	float: left;
	text-align: center;
}
/* line 347, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
#login td {
	color: #fff;
	font-size: 0.9em;
	font-weight: 600;
	text-decoration: none;
}

.or {
	vertical-align: bottom; 
	padding-bottom: 7px;
	width: 30px;
	text-align: center;
}

.welcomeText {
	vertical-align: bottom; 
	padding: 7px;
	
}

/* line 353, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.redButton {
	text-align: center;
	background-color: #CC0000;
	border-radius: 5px;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
}

/* line 360, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.loginTextInput {
	background-color: #fff;
	border: medium none;
	border-radius: 2px;
	height: 20px;
	width: 120px;
}

/* line 367, C:/Users/Francesco/workspace/ImmobiliareGit/WebContent/resources/css/style.sass */
.emptyRow {
	width: 1.5em;
}

#searchBarButton {
	margin-left: 30px;
}

.headerSearch {
	width: 50% !important;
}

#centerBanner {
	margin: auto;
}

/************** SEARCH PAGE */

.bigButton {
	width: 150px;
	height: 75px;
	line-height: 75px;
	vertical-align: center;
	margin: auto;
	margin-top: 15px;
	font-size: large;
}

.mediumButton {
	display: inline-block;
	line-height: 25px;
	vertical-align: center;
	margin: auto;
	margin-top: 15px;
	font-size: large;
	padding-left:  15px;
	padding-right:  15px;
}

.mainPageSearch {
	height: 30px;
	width: 75%;
	text-align: center;
	border: thin solid #AAA;
	border-radius: 4px;
	font-size: medium;
}



/******************** BOOK SEARCH RISULTS LIST *********************/

.bookTable {
	width: 100%;
}

.bookCell {
	width: 100%;
	height: auto;
	padding: 10px;
}

.bookCellRow {
	height: 100px;
}

.bookCellRow:hover {
	background-color: #AAA;
}

.bookCellTitle {
	float: left;
	text-align: left;
}

.bookCellImg {
	float: left;
	width: 20%;
	margin-right: 15px;
}

.bookThumbnail {
	width: 128px;
}

.bookCellAuthors {
	float: left;
	width: 75%;
	text-align: left;
}

/******************** BOOK DETAILS *********************/

.bookDetails {
	width: 100%;
	min-height: 250px;
	display: inline-block;
}
.bookDetails_Left {
	width:25%;
	float: left;
	height: 100%;
}

.bookDetails_Center {
	width: 5%;
}

.bookDetails_Right {
	width:70%; 
	float: left;
	background-color: silver;
	padding: 5px;
}

.bookDetImg {
	float: left;
	width: 30%;
	height: 800px;
}

.bookImg {
	height: 100%;
	border: thin solid black;
}

.bookDetTitle strong {
	font-size: 13pt;
}

.bookDetTitle {
	float: left;
	width: 100%;
	height: 15%;
	vertical-align: middle;
	border-bottom: thin solid darkgray;
}

.bookDetAuthors {
	float:left;
	width: 100%;
	height: 15%;
	font-size: 10pt;
	padding: 3px;
}

.bookDetCategories {
	float:left;
	width: 100%;
	height: 15%;
	font-size: 10pt;
	padding: 3px;
}

.bookDetDesc {
	float:left;
	width: 100%;
	height: 70%;
}

.bookTableCell {
	margin: 10px 0px;
}

.holdButton {
	height: 75px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	padding: 5px 25px;
	line-height: 75px;
}

.inputTableLabelColumn {
	text-align: right;
	vertical-align: text-top;
}

.descIT {
	resize: none;
	width: 90%;
}

.contentBlock {
	border: thin solid darkgray;
	border-radius: 4px;
	width: 80%;
  	margin: auto;
  	margin-top: 20px;
  	padding: 15px;
}

.wrappingContentBlock {
	display: inline-block;
	border: thin solid darkgray;
	border-radius: 4px;
  	margin: auto;
  	margin-top: 20px;
  	padding: 15px;	
}

.IT {
	height: 30px;
	width: 75%;
	float: left;
	margin-left: 15px;
	text-align: center;
	border: thin solid #AAA;
	border-radius: 4px;
	font-size: medium;
}

.bookUserTableCell {
	text-align:left;
	width: 25%;
}

.rowSeparator {
	height: 2px;
	background-color: darkgray;
	width: 100%;
}
.rowSeparatorCell {
	-webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
    background-color: darkgray;
    height: 1px;
    padding: 0px;
    width: 100%;
}

/********************* ERROR PAGE *************************/

.errorText {
	color: red;
}

/******************** PROFILE PAGE ***********************/

.columnCellHeight {
	line-height: 30px;
	vertical-align: middle;
}

.columnDetailCell {
	text-align: left;
	padding-left: 22px;
}

.resetLink {
	text-decoration: none;
	font-size: 10pt;
}

#ownedBooks {
	width: 100%;
	display: inline-block;
}

#ownedBooksLabel {
	width: 25%;
	float: left;
	line-height: 30px;
	vertical-align: middle;
}

#ownedBooksList {
	width: 75%;
	float: left;
	display: inline-block;
}

.ownedBookTitle {
	width: 100%;
	line-height: 30px;
	vertical-align: middle;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
